.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;

  h5 {
    font-size: 0.8rem;
    color: #8e44ad;
    margin: 10px;
  }

  .fa-github {
    color: #fff;
    font-size: 1.5rem;
    padding: 10px;

    &:hover {
      color: #8e44ad;
    }
  }
}
